%footer
  .row.align-center
    .small-12.columns
      .social
        %a.hide-for-small-only{href: "home"}
          <svg width="35px" height="46px" viewBox="0 0 35 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-Header/1.1" transform="translate(-250.000000, -8.000000)" stroke-width="4" stroke="#FFFFFF">
                      <g id="jm-logo" transform="translate(252.000000, 14.000000)">
                          <polyline id="Shape" points="28.7800847 0.0431205674 14.039322 17.3452482 0.131355932 0.0296453901 0.131355932 0.288368794 0.131355932 33.44"></polyline>
                          <polyline id="Shape" points="16.4641525 37.8167376 30.9395763 22.2448227 30.7241525 8.02851064 16.784661 24.3119149"></polyline>
                      </g>
                  </g>
              </g>
          </svg>

          %span.hide-for-small-only Designs
          %span.pipe.hide-for-small-only |

        %a.two{href:"https://twitter.com/jackmahonyy", target:"_blank"}
          <svg width="34px" height="34px" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Mobile-Footer-2" transform="translate(-204.000000, -13.000000)" fill-rule="nonzero" fill="#FFFFFF">
                      <g id="twitter" transform="translate(204.000000, 13.000000)">
                          <path d="M17,0 C7.61174937,0 0,7.61174937 0,17 C0,26.3882506 7.61174937,34 17,34 C26.3882506,34 34,26.3882506 34,17 C34,7.6096523 26.3882506,0 17,0 Z M25.4574993,13.1834652 L25.4702215,13.7253491 C25.4702215,19.2588283 21.2606252,25.6338632 13.5617074,25.6338632 C11.1987245,25.6338632 8.99931331,24.9411298 7.14633876,23.7532073 C7.4736221,23.7914439 7.80719666,23.8126943 8.14510518,23.8126943 C10.1064985,23.8126943 11.9106112,23.1433083 13.3428428,22.0213038 C11.5111186,21.9873312 9.96620421,20.7760613 9.4328484,19.1143399 C9.68994967,19.1632017 9.94921791,19.186619 10.2212084,19.186619 C10.6037147,19.186619 10.9734288,19.1377572 11.3240596,19.0421306 C9.40943108,18.6553603 7.96657429,16.9660274 7.96657429,14.938786 L7.96657429,14.8856601 C8.53180562,15.2001513 9.17567723,15.3871404 9.86204954,15.4105577 C8.74004507,14.6604344 8.00054688,13.3790523 8.00054688,11.9276674 C8.00054688,11.1605577 8.20668925,10.4423099 8.56577822,9.8239527 C10.6291592,12.3569384 13.714654,14.0229239 17.1932803,14.1971907 C17.1210012,13.8911577 17.0849315,13.5703054 17.0849315,13.243092 C17.0849315,10.9332349 18.9591564,9.05894011 21.2711804,9.05894011 C22.4739223,9.05894011 23.5619541,9.56678153 24.3268968,10.3806559 C25.2788985,10.1914999 26.1756772,9.84303607 26.9852876,9.36490321 C26.6728935,10.3424193 26.0099385,11.1626548 25.1450353,11.6811214 C25.9886881,11.5812308 26.7982985,11.3538381 27.5484218,11.0223606 C26.9874546,11.8595824 26.2755679,12.5969835 25.4574993,13.1834652 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </svg>
        %a.two{href:"https://www.linkedin.com/in/jack-mahony-2aa9ba66/", target:"_blank"}
            <svg width="34px" height="34px" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Mobile-Footer-2" transform="translate(-248.000000, -14.000000)" fill-rule="nonzero">
                        <g id="linkedin" transform="translate(248.000000, 14.000000)">
                            <ellipse id="Oval" fill="#FFFFFF" cx="16.8790442" cy="17.0289298" rx="16.8790442" ry="16.7309825"></ellipse>
                            <path d="M26.9641062,18.3752105 L26.9641062,25.2730351 L22.9295398,25.2730351 L22.9295398,18.8374912 C22.9295398,17.2215965 22.3470265,16.1180877 20.8862301,16.1180877 C19.7714513,16.1180877 19.1092035,16.8610175 18.8167434,17.580386 C18.710531,17.8374737 18.6831504,18.1944737 18.6831504,18.5550526 L18.6831504,25.2727368 L14.6482832,25.2727368 C14.6482832,25.2727368 14.7024425,14.3730526 14.6482832,13.2447895 L18.6834513,13.2447895 L18.6834513,14.9492632 C18.6753274,14.9626842 18.6638938,14.975807 18.6566726,14.9886316 L18.6834513,14.9886316 L18.6834513,14.9492632 C19.2196283,14.1314737 20.1758407,12.9623509 22.319646,12.9623509 C24.9740531,12.9623509 26.9641062,14.6814386 26.9641062,18.3752105 L26.9641062,18.3752105 Z M10.427469,7.44689474 C9.04730973,7.44689474 8.14435398,8.34491228 8.14435398,9.52477193 C8.14435398,10.6795789 9.02113274,11.6035439 10.3745133,11.6035439 L10.4006903,11.6035439 C11.8079292,11.6035439 12.6829027,10.6795789 12.6829027,9.52477193 C12.6561239,8.34491228 11.8079292,7.44689474 10.427469,7.44689474 L10.427469,7.44689474 Z M8.38415929,25.2730351 L12.4175221,25.2730351 L12.4175221,13.2447895 L8.38415929,13.2447895 L8.38415929,25.2730351 Z" id="Shape" fill="#2A2A2A"></path>
                        </g>
                    </g>
                </g>
            </svg>
        %a.two{href:"https://github.com/jackmahony", target:"_blank"}
          <svg width="35px" height="34px" viewBox="0 0 35 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Mobile-Footer-2" transform="translate(-292.000000, -14.000000)" fill-rule="nonzero" fill="#FFFFFF">
                      <g id="github-logo" transform="translate(292.000000, 14.000000)">
                          <path d="M32.6187244,8.68410723 C31.0554442,6.02148718 28.9349544,3.91348718 26.256697,2.3596317 C23.578041,0.80569697 20.6537472,0.0289277389 17.4817426,0.0289277389 C14.3101367,0.0289277389 11.3848861,0.805934732 8.70678815,2.3596317 C6.02829157,3.91340793 3.90788155,6.02148718 2.34460137,8.68410723 C0.781560364,11.346648 0,14.2541632 0,17.4065734 C0,21.1933333 1.11138952,24.5984848 3.33472665,27.6228998 C5.5578246,30.6475524 8.42973804,32.7404942 11.9502278,33.9019627 C12.3600228,33.9775711 12.6633827,33.9243916 12.8606264,33.7437716 C13.0579499,33.5629138 13.156492,33.3364056 13.156492,33.0651981 C13.156492,33.0199441 13.1525854,32.6128159 13.1450114,31.843338 C13.1371982,31.0738601 13.1335308,30.4025781 13.1335308,29.8298089 L12.6099658,29.9198415 C12.2761503,29.9806294 11.8550342,30.0063869 11.3466173,29.9990956 C10.8384396,29.992042 10.3108884,29.9391002 9.76468109,29.8406667 C9.21823462,29.7431049 8.70997722,29.5168345 8.23951025,29.162331 C7.76928246,28.8078275 7.43546697,28.3437949 7.23814351,27.7709464 L7.01052392,27.2502471 C6.8588041,26.9035897 6.61994305,26.5184942 6.29362187,26.0963869 C5.96730068,25.6738834 5.63731207,25.3874592 5.30349658,25.2366387 L5.14412301,25.1232261 C5.03792711,25.0478555 4.93938497,24.956951 4.8482574,24.8514639 C4.75720957,24.7459767 4.68904328,24.6404103 4.64351936,24.5346853 C4.59791572,24.4288811 4.63570615,24.3420979 4.75728929,24.2740186 C4.87887244,24.2059394 5.09859909,24.1728904 5.41742597,24.1728904 L5.87250569,24.2404942 C6.17602506,24.300965 6.55145786,24.4815851 6.99928246,24.7834639 C7.44686788,25.0851049 7.81480638,25.4772541 8.10317768,25.9597529 C8.45238041,26.5784103 8.87309795,27.0498135 9.3665262,27.3742005 C9.85955581,27.6985874 10.3566515,27.8605035 10.8573349,27.8605035 C11.3580182,27.8605035 11.7904556,27.8227786 12.1548064,27.7477249 C12.5187585,27.6722751 12.8602278,27.5588625 13.1790547,27.4081212 C13.3156264,26.3969977 13.6874715,25.6202284 14.2942711,25.0772587 C13.4293964,24.9869091 12.6518223,24.8508298 11.9611503,24.6698928 C11.270877,24.4887179 10.5575626,24.1946853 9.82168565,23.7870023 C9.08541002,23.3798741 8.47462415,22.8743124 7.98916856,22.2711888 C7.50363326,21.6677483 7.10515945,20.8755245 6.79430524,19.8952308 C6.48329157,18.9145408 6.32774487,17.7832681 6.32774487,16.5010956 C6.32774487,14.6754779 6.92728929,13.1219394 8.12613895,11.8396084 C7.56454442,10.4670862 7.61756264,8.92844755 8.28535308,7.22385082 C8.72544419,7.08793007 9.37808656,7.18993007 10.2429613,7.52921678 C11.1079954,7.868662 11.741344,8.15944522 12.1436446,8.40053613 C12.5459453,8.64154779 12.8682802,8.84578555 13.1111276,9.01142657 C14.5226879,8.61935664 15.9793736,8.42328205 17.4815831,8.42328205 C18.9837927,8.42328205 20.4407973,8.61935664 21.8524374,9.01142657 L22.7173918,8.46861538 C23.3088838,8.10642424 24.007369,7.77450816 24.8111731,7.47278788 C25.6154556,7.17122611 26.230467,7.08816783 26.6555695,7.22408858 C27.3381891,8.92876457 27.3990205,10.467324 26.8372665,11.8398462 C28.0360364,13.1221772 28.63582,14.6761119 28.63582,16.5013333 C28.63582,17.7835058 28.4797153,18.918345 28.16918,19.9065641 C27.858246,20.8949417 27.456344,21.686373 26.9633144,22.2825221 C26.4697267,22.8785921 25.8550342,23.3801911 25.1191572,23.7872401 C24.3831207,24.1946061 23.6695672,24.4886387 22.9792938,24.6698135 C22.2887016,24.8509883 21.5111276,24.9871469 20.6462528,25.077655 C21.4350683,25.7562284 21.8295558,26.8273473 21.8295558,28.2905361 L21.8295558,33.0645641 C21.8295558,33.3357716 21.9244305,33.5622005 22.1143394,33.7431375 C22.3040091,33.9237576 22.6035421,33.9769371 23.0133371,33.9012494 C26.5343052,32.7399394 29.4062187,30.6469184 31.6292369,27.6222657 C33.8520159,24.5978508 34.9638041,21.1926993 34.9638041,17.4059394 C34.9630068,14.2539254 34.1810478,11.346648 32.6187244,8.68410723 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </svg>
