{% extends "base.twig" %}

{% block content %}
.portfolio-nav
  {% include 'particles/navigation.twig' %}

%section#PortfolioHeader
  .row.align-center
    .medium-8.columns
      {% if post.portfolio_header %}
        %h1 {{post.portfolio_header}}
        %h2.mark UX Projects
      {% endif %}

%section#ProjectThumbnails
  .row.small-up-1.medium-up-3
    {% for project in projects |slice (0,3) %}
          .column
            .projectthumbnail.wow.fadeInUp
              %a.project{href: "{{project.link}}" }
                .img
                  {% if project.project_image %}
                    %img{src: "{{TimberImage(project.project_image)|resize(280, 210) }}"}
                  {% endif %}
                .info
                  {% if project.project_title %}
                    %h3 {{project.project_title}}
                  {% endif %}
                  {% if project.company_name %}
                    %p {{project.company_name}}
                  {% endif %}
    {% endfor %}
  .row.align-center
    %h2.mark.second UI Design/Web Dev
  .row.small-up-1.medium-up-2
    {% for project in projects |slice (3) %}
      .column
        .projectthumbnail2.wow.fadeInUp
          %a.project{href: "{{project.link}}" }
            .img
              {% if project.project_image %}
                %img{src: "{{TimberImage(project.project_image)|resize(480, 210) }}"}
              {% endif %}
            .info
              {% if project.project_title %}
                %h3 {{project.project_title}}
              {% endif %}
              {% if project.company_name %}
                %p {{project.company_name}}
              {% endif %}
    {% endfor %}

{% include 'particles/footer.twig' %}

{% endblock %}
