{% extends "base.twig" %}

{% block content %}
{% include 'particles/navigation.twig' %}


%section#PortfolioHeader
  .row.align-center
    .medium-8.columns
      {% if post.portfolio_header %}
        %h1.mark {{post.portfolio_header}}
      {% endif %}

%section#ProjectThumbnails
  .row.small-up-1.medium-up-3
    {% for project in projects %}
          .column
            .projectthumbnail
              %a.project{href: "{{project.link}}"}
                {% if project.project_image %}
                  %img{src: "{{TimberImage(project.project_image)|resize(280, 210) }}"}
                {% endif %}
                {% if project.project_title %}
                  %h3 {{project.project_title}}
                {% endif %}
                {% if project.company_name %}
                  %p {{project.company_name}}
                {% endif %}
                .foot
    {% endfor %}

{% include 'particles/footer.twig' %}

{% endblock %}
