{% extends "base.twig" %}

{% block content %}

%section#home
  .content.align-middle
    .title
      .row
        .small-12.medium-5.columns
          .logo
            %embed{src: "{{theme.link}}/assets/img/logo-outline2.svg"}

        .small-12.medium-7.columns
          .author
            %h1.name Jack Mahony
            %h1.proffesion UX Designer
            %img{src:"{{theme.link}}/assets/img/mark1.svg"}

    .menu
      .row.align-center
        .medium-8.columns
          {% for item in menu.get_items %}
            .button
              %li{class: "{{item.classes | join(' ')}}"}
                %a{href: "{{item.link}}"}
                  {{item.title}}
          {% endfor %}

{% endblock %}
