{% extends "base.twig" %}

{% block content %}
-# .wrapper
{% include 'particles/navigation.twig' %}
{% if post.slug == 'contact' %}
  %section#contact
    .contact-form
      .row.align-center
        .small-12.medium-8.columns
          %h1.mark Send me an email
          {% filter shortcodes %}
            [contact-form-7 id="225" title="Contact Me"]
          {% endfilter %}
{% endif %}

{% include 'particles/footer.twig' %}

{% endblock %}
