.about-nav
  nav#topnav
    background-color: transparent

    +breakpoint(medium)
      background-color: #9F91C7

// ABOUT PAGE STYLES
section#Header-label
  position: relative
  margin: 0
  padding-bottom: rem-calc(25px)
  padding-top: rem-calc(95)
  background-color: #9F91C7

  h1
    margin-top: 3.5rem

  svg
    display: none

    +breakpoint(medium)
      display: inline-block
      position: absolute
      top: auto
      margin-top: 0
      max-width: 95%

  +breakpoint(medium)
    padding-top: 6.8rem

    +breakpoint(xxlarge)
      padding-top: rem-calc(155)

section#Header-text
  svg
    display: none

    +breakpoint(medium)
      display: inline-block
      position: absolute
      max-width: 95%
      bottom: 0

section#IndustrialDesign
  position: relative
  margin: 0
  padding-bottom: 75px
  padding-top: 0

  +breakpoint(medium)
    padding-top: 75px

  p,h2
    +breakpoint(medium)
      text-align: left

section#FrontEndDevelopment
  position: relative
  margin: 0
  padding-bottom: 75px
  padding-top: 75px

  +breakpoint(medium)
    text-align: left

section#BusinessDevelopment
  position: relative
  margin: 0
  padding-bottom: 75px
  padding-top: 75px

  p,h2
    +breakpoint(medium)
      text-align: left
