.portfolio-nav
  nav#topnav
    background-color: transparent

    +breakpoint(medium)
      background-color: #0a0a0a

//PORTFOLIO HOME PAGE STYLES
section#PortfolioHeader
  position: relative
  margin: 0
  padding-bottom: rem-calc(25)
  padding-top: rem-calc(110)
  z-index: 1
  background-color: #efefef

  +breakpoint(medium)
    padding-top: rem-calc(125)

    h1
      margin-bottom: 0

    +breakpoint(xxlarge)
      padding-top: rem-calc(155)

  h1
    color: #000

section#ProjectThumbnails
  position: relative
  margin: 0
  padding-bottom: rem-calc(40)
  padding-top: 0
  background-color: #efefef

  .second
    margin-top: 1rem
    +breakpoint(medium)
      margin-top: 3rem

  span
    width: 100%
    display: inline-block
    text-align: center
    margin-top: 2rem

  +breakpoint(medium)
    padding-bottom: rem-calc(75)

    +breakpoint(xxlarge)
      padding-bottom: rem-calc(160)
      padding-top: rem-calc(50)

  .projectthumbnail
    background-color: #fff
    width: rem-calc(280)
    height: rem-calc(287)
    display: block
    margin-left: auto
    margin-right: auto
    margin-bottom: 1rem
    box-shadow: 0 1px 2px rgba(25,25,25,0.2)
    border-radius: 5px

    img
      border-top-left-radius: 2px
      border-top-right-radius: 2px

    +breakpoint(medium)
      height: rem-calc(320)
      margin-bottom: 0

      &:hover
        opacity: 0.5
        transition: 0.5
        transition-timing-function: ease-in-out

        img
          display: block
          margin-left: auto
          margin-right: auto

    p,h3
      text-align: left
      color: #000
      padding-left: 1rem
      margin-bottom: 0

    h3
      padding-top: 1.5rem

  // Starts the second tile styles
  .projectthumbnail2
    background-color: #fff
    width: rem-calc(280)
    height: rem-calc(287)
    display: block
    margin-left: auto
    margin-right: auto
    margin-bottom: 1rem
    box-shadow: 0 1px 2px rgba(25,25,25,0.2)
    border-radius: 5px

    +breakpoint(medium)
      height: rem-calc(295)
      width: rem-calc(480)
      margin-bottom: 0

    &:hover
      opacity: 0.5
      transition: 0.5
      transition-timing-function: ease-in-out

      img
        display: block
        margin-left: auto
        margin-right: auto

    p,h3
      text-align: left
      color: #000
      padding-left: 1rem
      margin-bottom: 0

    h3
      padding-top: 1.5rem
