// Import fonts
@import url(../fonts/Fira+Sans/Josefin+Sans/stylesheet.css)

// Paragraph styles
p
  font-size: 16px
  font-family: 'Fira Sans', sans-serif
  text-align: center
  font-weight: lighter

  +breakpoint(medium)
    font-size: 18px

// Header Styles

h1
  color: #fff
  font-family: 'Josefin Sans', sans-serif
  font-weight: 600
  text-align: center

  +breakpoint(medium)
    padding-left: 100px
    padding-right: 100px


h2
  font-family: 'Josefin Sans', sans-serif
  text-align: center
